<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="conf.properties" />
	<!-- 将控制logback包下的所有类的日志的打印-->
	<logger name="com.sichuang" level="debug" />

	<!-- 控制台设置 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<root level="${log.lever}">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
