<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sichuang.service.impl.dao.impl.mybatis.OperateDepartArriveMapper" >
  <resultMap id="BaseResultMap" type="com.sichuang.bean.entity.OperateDepartArrive" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="on_area" property="onArea" jdbcType="INTEGER" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="license_id" property="licenseId" jdbcType="VARCHAR" />
    <result column="fare_type" property="fareType" jdbcType="VARCHAR" />
    <result column="vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
    <result column="book_dep_time" property="bookDepTime" jdbcType="BIGINT" />
    <result column="wait_time" property="waitTime" jdbcType="BIGINT" />
    <result column="dep_longitude" property="depLongitude" jdbcType="DOUBLE" />
    <result column="dep_latitude" property="depLatitude" jdbcType="DOUBLE" />
    <result column="dep_area" property="depArea" jdbcType="VARCHAR" />
    <result column="dep_time" property="depTime" jdbcType="BIGINT" />
    <result column="encrypt" property="encrypt" jdbcType="INTEGER" />
    <result column="dest_longitude" property="destLongitude" jdbcType="DOUBLE" />
    <result column="dest_latitude" property="destLatitude" jdbcType="DOUBLE" />
    <result column="dest_area" property="destArea" jdbcType="VARCHAR" />
    <result column="dest_time" property="destTime" jdbcType="BIGINT" />
    <result column="book_model" property="bookModel" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="drive_mile" property="driveMile" jdbcType="DECIMAL" />
    <result column="drive_time" property="driveTime" jdbcType="INTEGER" />
    <result column="wait_mile" property="waitMile" jdbcType="DECIMAL" />
    <result column="fact_price" property="factPrice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="cash_price" property="cashPrice" jdbcType="DECIMAL" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="line_price" property="linePrice" jdbcType="DECIMAL" />
    <result column="pos_name" property="posName" jdbcType="VARCHAR" />
    <result column="pos_price" property="posPrice" jdbcType="DECIMAL" />
    <result column="benfit_price" property="benfitPrice" jdbcType="DECIMAL" />
    <result column="book_tip" property="bookTip" jdbcType="DECIMAL" />
    <result column="passenger_tip" property="passengerTip" jdbcType="INTEGER" />
    <result column="peak_up_price" property="peakUpPrice" jdbcType="DECIMAL" />
    <result column="night_up_price" property="nightUpPrice" jdbcType="DECIMAL" />
    <result column="far_up_price" property="farUpPrice" jdbcType="DECIMAL" />
    <result column="other_up_price" property="otherUpPrice" jdbcType="DECIMAL" />
    <result column="pay_state" property="payState" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="BIGINT" />
    <result column="order_match_time" property="orderMatchTime" jdbcType="BIGINT" />
    <result column="invoice_status" property="invoiceStatus" jdbcType="VARCHAR" />
    <result column="begin_beyond_operate" property="beginBeyondOperate" jdbcType="INTEGER" />
    <result column="end_beyond_operate" property="endBeyondOperate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, company_id, order_id, on_area, driver_name, license_id, fare_type, vehicle_no, 
    book_dep_time, wait_time, dep_longitude, dep_latitude, dep_area, dep_time, encrypt, 
    dest_longitude, dest_latitude, dest_area, dest_time, book_model, model, drive_mile, 
    drive_time, wait_mile, fact_price, price, cash_price, line_name, line_price, pos_name, 
    pos_price, benfit_price, book_tip, passenger_tip, peak_up_price, night_up_price, 
    far_up_price, other_up_price, pay_state, pay_time, order_match_time, invoice_status, 
    begin_beyond_operate, end_beyond_operate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sichuang.bean.entity.OperateDepartArriveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operate_depart_arrive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operate_depart_arrive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operate_depart_arrive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sichuang.bean.entity.OperateDepartArriveExample" >
    delete from operate_depart_arrive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sichuang.bean.entity.OperateDepartArrive" >
    insert into operate_depart_arrive (id, company_id, order_id, 
      on_area, driver_name, license_id, 
      fare_type, vehicle_no, book_dep_time, 
      wait_time, dep_longitude, dep_latitude, 
      dep_area, dep_time, encrypt, 
      dest_longitude, dest_latitude, dest_area, 
      dest_time, book_model, model, 
      drive_mile, drive_time, wait_mile, 
      fact_price, price, cash_price, 
      line_name, line_price, pos_name, 
      pos_price, benfit_price, book_tip, 
      passenger_tip, peak_up_price, night_up_price, 
      far_up_price, other_up_price, pay_state, 
      pay_time, order_match_time, invoice_status, 
      begin_beyond_operate, end_beyond_operate)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{onArea,jdbcType=INTEGER}, #{driverName,jdbcType=VARCHAR}, #{licenseId,jdbcType=VARCHAR}, 
      #{fareType,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, #{bookDepTime,jdbcType=BIGINT}, 
      #{waitTime,jdbcType=BIGINT}, #{depLongitude,jdbcType=DOUBLE}, #{depLatitude,jdbcType=DOUBLE}, 
      #{depArea,jdbcType=VARCHAR}, #{depTime,jdbcType=BIGINT}, #{encrypt,jdbcType=INTEGER}, 
      #{destLongitude,jdbcType=DOUBLE}, #{destLatitude,jdbcType=DOUBLE}, #{destArea,jdbcType=VARCHAR}, 
      #{destTime,jdbcType=BIGINT}, #{bookModel,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{driveMile,jdbcType=DECIMAL}, #{driveTime,jdbcType=INTEGER}, #{waitMile,jdbcType=DECIMAL}, 
      #{factPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{cashPrice,jdbcType=DECIMAL}, 
      #{lineName,jdbcType=VARCHAR}, #{linePrice,jdbcType=DECIMAL}, #{posName,jdbcType=VARCHAR}, 
      #{posPrice,jdbcType=DECIMAL}, #{benfitPrice,jdbcType=DECIMAL}, #{bookTip,jdbcType=DECIMAL}, 
      #{passengerTip,jdbcType=INTEGER}, #{peakUpPrice,jdbcType=DECIMAL}, #{nightUpPrice,jdbcType=DECIMAL}, 
      #{farUpPrice,jdbcType=DECIMAL}, #{otherUpPrice,jdbcType=DECIMAL}, #{payState,jdbcType=VARCHAR}, 
      #{payTime,jdbcType=BIGINT}, #{orderMatchTime,jdbcType=BIGINT}, #{invoiceStatus,jdbcType=VARCHAR}, 
      #{beginBeyondOperate,jdbcType=INTEGER}, #{endBeyondOperate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sichuang.bean.entity.OperateDepartArrive" >
    insert into operate_depart_arrive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="onArea != null" >
        on_area,
      </if>
      <if test="driverName != null" >
        driver_name,
      </if>
      <if test="licenseId != null" >
        license_id,
      </if>
      <if test="fareType != null" >
        fare_type,
      </if>
      <if test="vehicleNo != null" >
        vehicle_no,
      </if>
      <if test="bookDepTime != null" >
        book_dep_time,
      </if>
      <if test="waitTime != null" >
        wait_time,
      </if>
      <if test="depLongitude != null" >
        dep_longitude,
      </if>
      <if test="depLatitude != null" >
        dep_latitude,
      </if>
      <if test="depArea != null" >
        dep_area,
      </if>
      <if test="depTime != null" >
        dep_time,
      </if>
      <if test="encrypt != null" >
        encrypt,
      </if>
      <if test="destLongitude != null" >
        dest_longitude,
      </if>
      <if test="destLatitude != null" >
        dest_latitude,
      </if>
      <if test="destArea != null" >
        dest_area,
      </if>
      <if test="destTime != null" >
        dest_time,
      </if>
      <if test="bookModel != null" >
        book_model,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="driveMile != null" >
        drive_mile,
      </if>
      <if test="driveTime != null" >
        drive_time,
      </if>
      <if test="waitMile != null" >
        wait_mile,
      </if>
      <if test="factPrice != null" >
        fact_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="cashPrice != null" >
        cash_price,
      </if>
      <if test="lineName != null" >
        line_name,
      </if>
      <if test="linePrice != null" >
        line_price,
      </if>
      <if test="posName != null" >
        pos_name,
      </if>
      <if test="posPrice != null" >
        pos_price,
      </if>
      <if test="benfitPrice != null" >
        benfit_price,
      </if>
      <if test="bookTip != null" >
        book_tip,
      </if>
      <if test="passengerTip != null" >
        passenger_tip,
      </if>
      <if test="peakUpPrice != null" >
        peak_up_price,
      </if>
      <if test="nightUpPrice != null" >
        night_up_price,
      </if>
      <if test="farUpPrice != null" >
        far_up_price,
      </if>
      <if test="otherUpPrice != null" >
        other_up_price,
      </if>
      <if test="payState != null" >
        pay_state,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="orderMatchTime != null" >
        order_match_time,
      </if>
      <if test="invoiceStatus != null" >
        invoice_status,
      </if>
      <if test="beginBeyondOperate != null" >
        begin_beyond_operate,
      </if>
      <if test="endBeyondOperate != null" >
        end_beyond_operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="onArea != null" >
        #{onArea,jdbcType=INTEGER},
      </if>
      <if test="driverName != null" >
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null" >
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="fareType != null" >
        #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="bookDepTime != null" >
        #{bookDepTime,jdbcType=BIGINT},
      </if>
      <if test="waitTime != null" >
        #{waitTime,jdbcType=BIGINT},
      </if>
      <if test="depLongitude != null" >
        #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null" >
        #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="depArea != null" >
        #{depArea,jdbcType=VARCHAR},
      </if>
      <if test="depTime != null" >
        #{depTime,jdbcType=BIGINT},
      </if>
      <if test="encrypt != null" >
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="destLongitude != null" >
        #{destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="destLatitude != null" >
        #{destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="destArea != null" >
        #{destArea,jdbcType=VARCHAR},
      </if>
      <if test="destTime != null" >
        #{destTime,jdbcType=BIGINT},
      </if>
      <if test="bookModel != null" >
        #{bookModel,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="driveMile != null" >
        #{driveMile,jdbcType=DECIMAL},
      </if>
      <if test="driveTime != null" >
        #{driveTime,jdbcType=INTEGER},
      </if>
      <if test="waitMile != null" >
        #{waitMile,jdbcType=DECIMAL},
      </if>
      <if test="factPrice != null" >
        #{factPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="cashPrice != null" >
        #{cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineName != null" >
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="linePrice != null" >
        #{linePrice,jdbcType=DECIMAL},
      </if>
      <if test="posName != null" >
        #{posName,jdbcType=VARCHAR},
      </if>
      <if test="posPrice != null" >
        #{posPrice,jdbcType=DECIMAL},
      </if>
      <if test="benfitPrice != null" >
        #{benfitPrice,jdbcType=DECIMAL},
      </if>
      <if test="bookTip != null" >
        #{bookTip,jdbcType=DECIMAL},
      </if>
      <if test="passengerTip != null" >
        #{passengerTip,jdbcType=INTEGER},
      </if>
      <if test="peakUpPrice != null" >
        #{peakUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="nightUpPrice != null" >
        #{nightUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="farUpPrice != null" >
        #{farUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="otherUpPrice != null" >
        #{otherUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="payState != null" >
        #{payState,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=BIGINT},
      </if>
      <if test="orderMatchTime != null" >
        #{orderMatchTime,jdbcType=BIGINT},
      </if>
      <if test="invoiceStatus != null" >
        #{invoiceStatus,jdbcType=VARCHAR},
      </if>
      <if test="beginBeyondOperate != null" >
        #{beginBeyondOperate,jdbcType=INTEGER},
      </if>
      <if test="endBeyondOperate != null" >
        #{endBeyondOperate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sichuang.bean.entity.OperateDepartArriveExample" resultType="java.lang.Integer" >
    select count(*) from operate_depart_arrive
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operate_depart_arrive
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.onArea != null" >
        on_area = #{record.onArea,jdbcType=INTEGER},
      </if>
      <if test="record.driverName != null" >
        driver_name = #{record.driverName,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseId != null" >
        license_id = #{record.licenseId,jdbcType=VARCHAR},
      </if>
      <if test="record.fareType != null" >
        fare_type = #{record.fareType,jdbcType=VARCHAR},
      </if>
      <if test="record.vehicleNo != null" >
        vehicle_no = #{record.vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bookDepTime != null" >
        book_dep_time = #{record.bookDepTime,jdbcType=BIGINT},
      </if>
      <if test="record.waitTime != null" >
        wait_time = #{record.waitTime,jdbcType=BIGINT},
      </if>
      <if test="record.depLongitude != null" >
        dep_longitude = #{record.depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.depLatitude != null" >
        dep_latitude = #{record.depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.depArea != null" >
        dep_area = #{record.depArea,jdbcType=VARCHAR},
      </if>
      <if test="record.depTime != null" >
        dep_time = #{record.depTime,jdbcType=BIGINT},
      </if>
      <if test="record.encrypt != null" >
        encrypt = #{record.encrypt,jdbcType=INTEGER},
      </if>
      <if test="record.destLongitude != null" >
        dest_longitude = #{record.destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.destLatitude != null" >
        dest_latitude = #{record.destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.destArea != null" >
        dest_area = #{record.destArea,jdbcType=VARCHAR},
      </if>
      <if test="record.destTime != null" >
        dest_time = #{record.destTime,jdbcType=BIGINT},
      </if>
      <if test="record.bookModel != null" >
        book_model = #{record.bookModel,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null" >
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.driveMile != null" >
        drive_mile = #{record.driveMile,jdbcType=DECIMAL},
      </if>
      <if test="record.driveTime != null" >
        drive_time = #{record.driveTime,jdbcType=INTEGER},
      </if>
      <if test="record.waitMile != null" >
        wait_mile = #{record.waitMile,jdbcType=DECIMAL},
      </if>
      <if test="record.factPrice != null" >
        fact_price = #{record.factPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.cashPrice != null" >
        cash_price = #{record.cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.lineName != null" >
        line_name = #{record.lineName,jdbcType=VARCHAR},
      </if>
      <if test="record.linePrice != null" >
        line_price = #{record.linePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.posName != null" >
        pos_name = #{record.posName,jdbcType=VARCHAR},
      </if>
      <if test="record.posPrice != null" >
        pos_price = #{record.posPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.benfitPrice != null" >
        benfit_price = #{record.benfitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.bookTip != null" >
        book_tip = #{record.bookTip,jdbcType=DECIMAL},
      </if>
      <if test="record.passengerTip != null" >
        passenger_tip = #{record.passengerTip,jdbcType=INTEGER},
      </if>
      <if test="record.peakUpPrice != null" >
        peak_up_price = #{record.peakUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.nightUpPrice != null" >
        night_up_price = #{record.nightUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.farUpPrice != null" >
        far_up_price = #{record.farUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.otherUpPrice != null" >
        other_up_price = #{record.otherUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.payState != null" >
        pay_state = #{record.payState,jdbcType=VARCHAR},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=BIGINT},
      </if>
      <if test="record.orderMatchTime != null" >
        order_match_time = #{record.orderMatchTime,jdbcType=BIGINT},
      </if>
      <if test="record.invoiceStatus != null" >
        invoice_status = #{record.invoiceStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.beginBeyondOperate != null" >
        begin_beyond_operate = #{record.beginBeyondOperate,jdbcType=INTEGER},
      </if>
      <if test="record.endBeyondOperate != null" >
        end_beyond_operate = #{record.endBeyondOperate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operate_depart_arrive
    set id = #{record.id,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      on_area = #{record.onArea,jdbcType=INTEGER},
      driver_name = #{record.driverName,jdbcType=VARCHAR},
      license_id = #{record.licenseId,jdbcType=VARCHAR},
      fare_type = #{record.fareType,jdbcType=VARCHAR},
      vehicle_no = #{record.vehicleNo,jdbcType=VARCHAR},
      book_dep_time = #{record.bookDepTime,jdbcType=BIGINT},
      wait_time = #{record.waitTime,jdbcType=BIGINT},
      dep_longitude = #{record.depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{record.depLatitude,jdbcType=DOUBLE},
      dep_area = #{record.depArea,jdbcType=VARCHAR},
      dep_time = #{record.depTime,jdbcType=BIGINT},
      encrypt = #{record.encrypt,jdbcType=INTEGER},
      dest_longitude = #{record.destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{record.destLatitude,jdbcType=DOUBLE},
      dest_area = #{record.destArea,jdbcType=VARCHAR},
      dest_time = #{record.destTime,jdbcType=BIGINT},
      book_model = #{record.bookModel,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      drive_mile = #{record.driveMile,jdbcType=DECIMAL},
      drive_time = #{record.driveTime,jdbcType=INTEGER},
      wait_mile = #{record.waitMile,jdbcType=DECIMAL},
      fact_price = #{record.factPrice,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      cash_price = #{record.cashPrice,jdbcType=DECIMAL},
      line_name = #{record.lineName,jdbcType=VARCHAR},
      line_price = #{record.linePrice,jdbcType=DECIMAL},
      pos_name = #{record.posName,jdbcType=VARCHAR},
      pos_price = #{record.posPrice,jdbcType=DECIMAL},
      benfit_price = #{record.benfitPrice,jdbcType=DECIMAL},
      book_tip = #{record.bookTip,jdbcType=DECIMAL},
      passenger_tip = #{record.passengerTip,jdbcType=INTEGER},
      peak_up_price = #{record.peakUpPrice,jdbcType=DECIMAL},
      night_up_price = #{record.nightUpPrice,jdbcType=DECIMAL},
      far_up_price = #{record.farUpPrice,jdbcType=DECIMAL},
      other_up_price = #{record.otherUpPrice,jdbcType=DECIMAL},
      pay_state = #{record.payState,jdbcType=VARCHAR},
      pay_time = #{record.payTime,jdbcType=BIGINT},
      order_match_time = #{record.orderMatchTime,jdbcType=BIGINT},
      invoice_status = #{record.invoiceStatus,jdbcType=VARCHAR},
      begin_beyond_operate = #{record.beginBeyondOperate,jdbcType=INTEGER},
      end_beyond_operate = #{record.endBeyondOperate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sichuang.bean.entity.OperateDepartArrive" >
    update operate_depart_arrive
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="onArea != null" >
        on_area = #{onArea,jdbcType=INTEGER},
      </if>
      <if test="driverName != null" >
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null" >
        license_id = #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="fareType != null" >
        fare_type = #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="bookDepTime != null" >
        book_dep_time = #{bookDepTime,jdbcType=BIGINT},
      </if>
      <if test="waitTime != null" >
        wait_time = #{waitTime,jdbcType=BIGINT},
      </if>
      <if test="depLongitude != null" >
        dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null" >
        dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="depArea != null" >
        dep_area = #{depArea,jdbcType=VARCHAR},
      </if>
      <if test="depTime != null" >
        dep_time = #{depTime,jdbcType=BIGINT},
      </if>
      <if test="encrypt != null" >
        encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="destLongitude != null" >
        dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="destLatitude != null" >
        dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="destArea != null" >
        dest_area = #{destArea,jdbcType=VARCHAR},
      </if>
      <if test="destTime != null" >
        dest_time = #{destTime,jdbcType=BIGINT},
      </if>
      <if test="bookModel != null" >
        book_model = #{bookModel,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="driveMile != null" >
        drive_mile = #{driveMile,jdbcType=DECIMAL},
      </if>
      <if test="driveTime != null" >
        drive_time = #{driveTime,jdbcType=INTEGER},
      </if>
      <if test="waitMile != null" >
        wait_mile = #{waitMile,jdbcType=DECIMAL},
      </if>
      <if test="factPrice != null" >
        fact_price = #{factPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="cashPrice != null" >
        cash_price = #{cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineName != null" >
        line_name = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="linePrice != null" >
        line_price = #{linePrice,jdbcType=DECIMAL},
      </if>
      <if test="posName != null" >
        pos_name = #{posName,jdbcType=VARCHAR},
      </if>
      <if test="posPrice != null" >
        pos_price = #{posPrice,jdbcType=DECIMAL},
      </if>
      <if test="benfitPrice != null" >
        benfit_price = #{benfitPrice,jdbcType=DECIMAL},
      </if>
      <if test="bookTip != null" >
        book_tip = #{bookTip,jdbcType=DECIMAL},
      </if>
      <if test="passengerTip != null" >
        passenger_tip = #{passengerTip,jdbcType=INTEGER},
      </if>
      <if test="peakUpPrice != null" >
        peak_up_price = #{peakUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="nightUpPrice != null" >
        night_up_price = #{nightUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="farUpPrice != null" >
        far_up_price = #{farUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="otherUpPrice != null" >
        other_up_price = #{otherUpPrice,jdbcType=DECIMAL},
      </if>
      <if test="payState != null" >
        pay_state = #{payState,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=BIGINT},
      </if>
      <if test="orderMatchTime != null" >
        order_match_time = #{orderMatchTime,jdbcType=BIGINT},
      </if>
      <if test="invoiceStatus != null" >
        invoice_status = #{invoiceStatus,jdbcType=VARCHAR},
      </if>
      <if test="beginBeyondOperate != null" >
        begin_beyond_operate = #{beginBeyondOperate,jdbcType=INTEGER},
      </if>
      <if test="endBeyondOperate != null" >
        end_beyond_operate = #{endBeyondOperate,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sichuang.bean.entity.OperateDepartArrive" >
    update operate_depart_arrive
    set company_id = #{companyId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      on_area = #{onArea,jdbcType=INTEGER},
      driver_name = #{driverName,jdbcType=VARCHAR},
      license_id = #{licenseId,jdbcType=VARCHAR},
      fare_type = #{fareType,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      book_dep_time = #{bookDepTime,jdbcType=BIGINT},
      wait_time = #{waitTime,jdbcType=BIGINT},
      dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      dep_area = #{depArea,jdbcType=VARCHAR},
      dep_time = #{depTime,jdbcType=BIGINT},
      encrypt = #{encrypt,jdbcType=INTEGER},
      dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      dest_area = #{destArea,jdbcType=VARCHAR},
      dest_time = #{destTime,jdbcType=BIGINT},
      book_model = #{bookModel,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      drive_mile = #{driveMile,jdbcType=DECIMAL},
      drive_time = #{driveTime,jdbcType=INTEGER},
      wait_mile = #{waitMile,jdbcType=DECIMAL},
      fact_price = #{factPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      cash_price = #{cashPrice,jdbcType=DECIMAL},
      line_name = #{lineName,jdbcType=VARCHAR},
      line_price = #{linePrice,jdbcType=DECIMAL},
      pos_name = #{posName,jdbcType=VARCHAR},
      pos_price = #{posPrice,jdbcType=DECIMAL},
      benfit_price = #{benfitPrice,jdbcType=DECIMAL},
      book_tip = #{bookTip,jdbcType=DECIMAL},
      passenger_tip = #{passengerTip,jdbcType=INTEGER},
      peak_up_price = #{peakUpPrice,jdbcType=DECIMAL},
      night_up_price = #{nightUpPrice,jdbcType=DECIMAL},
      far_up_price = #{farUpPrice,jdbcType=DECIMAL},
      other_up_price = #{otherUpPrice,jdbcType=DECIMAL},
      pay_state = #{payState,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=BIGINT},
      order_match_time = #{orderMatchTime,jdbcType=BIGINT},
      invoice_status = #{invoiceStatus,jdbcType=VARCHAR},
      begin_beyond_operate = #{beginBeyondOperate,jdbcType=INTEGER},
      end_beyond_operate = #{endBeyondOperate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>