<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sichuang.service.impl.dao.impl.mybatis.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sichuang.bean.entity.OrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="depart_time" property="departTime" jdbcType="BIGINT" />
    <result column="order_time" property="orderTime" jdbcType="BIGINT" />
    <result column="passenger_note" property="passengerNote" jdbcType="VARCHAR" />
    <result column="departure" property="departure" jdbcType="VARCHAR" />
    <result column="dep_longitude" property="depLongitude" jdbcType="DOUBLE" />
    <result column="dep_latitude" property="depLatitude" jdbcType="DOUBLE" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="dest_longitude" property="destLongitude" jdbcType="DOUBLE" />
    <result column="dest_latitude" property="destLatitude" jdbcType="DOUBLE" />
    <result column="encrypt" property="encrypt" jdbcType="INTEGER" />
    <result column="fare_type" property="fareType" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="license_id" property="licenseId" jdbcType="VARCHAR" />
    <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR" />
    <result column="vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
    <result column="distribute_time" property="distributeTime" jdbcType="BIGINT" />
    <result column="cancel_time" property="cancelTime" jdbcType="BIGINT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="cancel_type_code" property="cancelTypeCode" jdbcType="VARCHAR" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, company_id, address, order_id, depart_time, order_time, passenger_note, departure, 
    dep_longitude, dep_latitude, destination, dest_longitude, dest_latitude, encrypt, 
    fare_type, longitude, latitude, license_id, driver_phone, vehicle_no, distribute_time, 
    cancel_time, operator, cancel_type_code, cancel_reason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sichuang.bean.entity.OrderInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sichuang.bean.entity.OrderInfoExample" >
    delete from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sichuang.bean.entity.OrderInfo" >
    insert into order_info (id, company_id, address, 
      order_id, depart_time, order_time, 
      passenger_note, departure, dep_longitude, 
      dep_latitude, destination, dest_longitude, 
      dest_latitude, encrypt, fare_type, 
      longitude, latitude, license_id, 
      driver_phone, vehicle_no, distribute_time, 
      cancel_time, operator, cancel_type_code, 
      cancel_reason)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{orderId,jdbcType=VARCHAR}, #{departTime,jdbcType=BIGINT}, #{orderTime,jdbcType=BIGINT}, 
      #{passengerNote,jdbcType=VARCHAR}, #{departure,jdbcType=VARCHAR}, #{depLongitude,jdbcType=DOUBLE}, 
      #{depLatitude,jdbcType=DOUBLE}, #{destination,jdbcType=VARCHAR}, #{destLongitude,jdbcType=DOUBLE}, 
      #{destLatitude,jdbcType=DOUBLE}, #{encrypt,jdbcType=INTEGER}, #{fareType,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{licenseId,jdbcType=VARCHAR}, 
      #{driverPhone,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, #{distributeTime,jdbcType=BIGINT}, 
      #{cancelTime,jdbcType=BIGINT}, #{operator,jdbcType=VARCHAR}, #{cancelTypeCode,jdbcType=VARCHAR}, 
      #{cancelReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sichuang.bean.entity.OrderInfo" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="departTime != null" >
        depart_time,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="passengerNote != null" >
        passenger_note,
      </if>
      <if test="departure != null" >
        departure,
      </if>
      <if test="depLongitude != null" >
        dep_longitude,
      </if>
      <if test="depLatitude != null" >
        dep_latitude,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="destLongitude != null" >
        dest_longitude,
      </if>
      <if test="destLatitude != null" >
        dest_latitude,
      </if>
      <if test="encrypt != null" >
        encrypt,
      </if>
      <if test="fareType != null" >
        fare_type,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="licenseId != null" >
        license_id,
      </if>
      <if test="driverPhone != null" >
        driver_phone,
      </if>
      <if test="vehicleNo != null" >
        vehicle_no,
      </if>
      <if test="distributeTime != null" >
        distribute_time,
      </if>
      <if test="cancelTime != null" >
        cancel_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="cancelTypeCode != null" >
        cancel_type_code,
      </if>
      <if test="cancelReason != null" >
        cancel_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="departTime != null" >
        #{departTime,jdbcType=BIGINT},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=BIGINT},
      </if>
      <if test="passengerNote != null" >
        #{passengerNote,jdbcType=VARCHAR},
      </if>
      <if test="departure != null" >
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="depLongitude != null" >
        #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null" >
        #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destLongitude != null" >
        #{destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="destLatitude != null" >
        #{destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null" >
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="fareType != null" >
        #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="licenseId != null" >
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="distributeTime != null" >
        #{distributeTime,jdbcType=BIGINT},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="cancelTypeCode != null" >
        #{cancelTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sichuang.bean.entity.OrderInfoExample" resultType="java.lang.Integer" >
    select count(*) from order_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.departTime != null" >
        depart_time = #{record.departTime,jdbcType=BIGINT},
      </if>
      <if test="record.orderTime != null" >
        order_time = #{record.orderTime,jdbcType=BIGINT},
      </if>
      <if test="record.passengerNote != null" >
        passenger_note = #{record.passengerNote,jdbcType=VARCHAR},
      </if>
      <if test="record.departure != null" >
        departure = #{record.departure,jdbcType=VARCHAR},
      </if>
      <if test="record.depLongitude != null" >
        dep_longitude = #{record.depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.depLatitude != null" >
        dep_latitude = #{record.depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.destination != null" >
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.destLongitude != null" >
        dest_longitude = #{record.destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.destLatitude != null" >
        dest_latitude = #{record.destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.encrypt != null" >
        encrypt = #{record.encrypt,jdbcType=INTEGER},
      </if>
      <if test="record.fareType != null" >
        fare_type = #{record.fareType,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.licenseId != null" >
        license_id = #{record.licenseId,jdbcType=VARCHAR},
      </if>
      <if test="record.driverPhone != null" >
        driver_phone = #{record.driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.vehicleNo != null" >
        vehicle_no = #{record.vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.distributeTime != null" >
        distribute_time = #{record.distributeTime,jdbcType=BIGINT},
      </if>
      <if test="record.cancelTime != null" >
        cancel_time = #{record.cancelTime,jdbcType=BIGINT},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelTypeCode != null" >
        cancel_type_code = #{record.cancelTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelReason != null" >
        cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_info
    set id = #{record.id,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      depart_time = #{record.departTime,jdbcType=BIGINT},
      order_time = #{record.orderTime,jdbcType=BIGINT},
      passenger_note = #{record.passengerNote,jdbcType=VARCHAR},
      departure = #{record.departure,jdbcType=VARCHAR},
      dep_longitude = #{record.depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{record.depLatitude,jdbcType=DOUBLE},
      destination = #{record.destination,jdbcType=VARCHAR},
      dest_longitude = #{record.destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{record.destLatitude,jdbcType=DOUBLE},
      encrypt = #{record.encrypt,jdbcType=INTEGER},
      fare_type = #{record.fareType,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE},
      license_id = #{record.licenseId,jdbcType=VARCHAR},
      driver_phone = #{record.driverPhone,jdbcType=VARCHAR},
      vehicle_no = #{record.vehicleNo,jdbcType=VARCHAR},
      distribute_time = #{record.distributeTime,jdbcType=BIGINT},
      cancel_time = #{record.cancelTime,jdbcType=BIGINT},
      operator = #{record.operator,jdbcType=VARCHAR},
      cancel_type_code = #{record.cancelTypeCode,jdbcType=VARCHAR},
      cancel_reason = #{record.cancelReason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sichuang.bean.entity.OrderInfo" >
    update order_info
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="departTime != null" >
        depart_time = #{departTime,jdbcType=BIGINT},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=BIGINT},
      </if>
      <if test="passengerNote != null" >
        passenger_note = #{passengerNote,jdbcType=VARCHAR},
      </if>
      <if test="departure != null" >
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="depLongitude != null" >
        dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null" >
        dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destLongitude != null" >
        dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="destLatitude != null" >
        dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null" >
        encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="fareType != null" >
        fare_type = #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="licenseId != null" >
        license_id = #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="distributeTime != null" >
        distribute_time = #{distributeTime,jdbcType=BIGINT},
      </if>
      <if test="cancelTime != null" >
        cancel_time = #{cancelTime,jdbcType=BIGINT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="cancelTypeCode != null" >
        cancel_type_code = #{cancelTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="cancelReason != null" >
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sichuang.bean.entity.OrderInfo" >
    update order_info
    set company_id = #{companyId,jdbcType=VARCHAR},
      address = #{address,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      depart_time = #{departTime,jdbcType=BIGINT},
      order_time = #{orderTime,jdbcType=BIGINT},
      passenger_note = #{passengerNote,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      destination = #{destination,jdbcType=VARCHAR},
      dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      encrypt = #{encrypt,jdbcType=INTEGER},
      fare_type = #{fareType,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      license_id = #{licenseId,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      distribute_time = #{distributeTime,jdbcType=BIGINT},
      cancel_time = #{cancelTime,jdbcType=BIGINT},
      operator = #{operator,jdbcType=VARCHAR},
      cancel_type_code = #{cancelTypeCode,jdbcType=VARCHAR},
      cancel_reason = #{cancelReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>